CUB_200_2011/
logs/
cub_split/
.pth
other/

QnA_datapreprocess/flattened_llama_cub_qa.json
QnA_datapreprocess/flattened_llama_cub_qa_with_species.json
QnA_datapreprocess/cub_bird_dataset.json
QnA_datapreprocess/class.json



phi3_vlm_output/
llava_dataset/
__pycache__/
.gradio/
llava_dataset/  
other/
phi3_vlm_output/


